<div class="main-footer-wrapper">
    <footer class="main-footer">
        <div class="main-footer-search-container">

        </div>
        <div class="main-footer-info-container">

            <div class="main-footer-item main-footer-social-toggle">
                <i class="icon ion-information"></i>
                <ul class="main-footer-social-list">
                    <li><a href="#"><i class="icon ion-social-instagram"></i></a></li>
                    <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="icon ion-social-snapchat"></i></a></li>
                    <li><a href="#"><i class="icon ion-social-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
<footer class="content-footer">
    <!-- Content Footer Block-->
    <div class="content-footer-main">
        <div class="container">
            <div class="row">
                <div class="content-footer-main-description col-12 col-md-4">

                    <div class="container">
                        <h5>Valeriee Aimee </h5>
                        <iframe src="https://embed.spotify.com/follow/1/?uri=spotify:artist:4ikPJGH7I7IyhdBJs1GMhh&size=detail&theme=light"
                                width="300" height="56" scrolling="no" frameborder="0"
                                style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
                        <h2>Discography</h2>
                        <p>Click an album cover to hear a 30 second preview, or click the button to play the
                            album on Spotify!</p><br/>
                        <div id="results"></div>
                    </div>

                    <script id="results-template" type="text/x-handlebars-template">
                        {{#each albums.items}}
                        <div style="background-image:url({{images.0.url}})" data-album-id="{{id}}"
                             class="cover"><a href="{{external_urls.spotify}}">
                            <div class="spotify-button"><img
                                    src="https://developer.spotify.com/wp-content/uploads/2014/06/play_on_spotify-green.png"/>
                            </div>
                        </a></div>
                        {{/each}}
                    </script>
                </div>
                <div class="content-footer-main-info col-12 col-md-4">
                    <h5>Our Info</h5>
                    <ul>
                        <li><b>Address:</b><span> Calgary, Alberta</span></li>
                        <li><b>Facebook:</b><span><a href="https://www.facebook.com/valerieaimeemusic/"> valerieaimeemusic</a></span>
                        </li>
                        <li><b>Instagram:</b><span> <a href="https://www.instagram.com/valerieaimeemusic/"> @valerieaimeemusic</a></span>
                        </li>
                    </ul>
                </div>
                <div class="content-footer-main-instagram col-12 col-md-4">
                    <h5>instagram</h5>
                    <ul>
                        <li>
                            <a href="https://www.instagram.com/p/BEgv65SMp6M/?taken-by=valerieaimeemusic"><img
                                    src="images/insta-1.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="images/insta-2.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="images/insta-3.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="images/insta-4.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="images/insta-5.jpg" alt=""/></a></li>
                        <li><a href="#"><img src="images/insta-6.jpg" alt=""/></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content-footer-sub">
        <div class="container">
            <div class="content-footer-sub-copyright"><span>© 2018 .</span></div>
        </div>
    </div>
</footer>
