<!--<div class="page-wrapper">-->
<!--<div class="main-header-wrapper">-->
<!--<header class="main-header">-->
<!--<span class="main-header-navigation-toggle">-->
<!--<i class="main-header-navigation-icon"><i class="main-header-navigation-icon-item"></i></i></span>-->
<!--</header>-->
<!--</div>-->
<!--</div>-->
<div class="modal-wrapper">

    <div class="modal-item">
        <ul class="nav-list font-weight-bold">
            <li class="nav-item"><a href="index.html">Home </a></li>
            <li class="nav-item"><a href="discography.html">Music </a></li>
            <li class="nav-item"><a href="event-list.html">Events </a></li>
            <li class="nav-item"><a href="contact.html">Contact </a></li>
        </ul>
    </div>
</div>